{% extends "layout.html" %} {% block container %}
<div class="group py-32 relative overflow-x-auto sm:rounded-lg">
<div class="relative bg-neutral-primary-soft max-w-xs w-full p-6 border border-default rounded-base shadow-xs">
<div class="flex flex-col items-center">
    <img class="w-10 h-10 mb-6 rounded-full" src="/static/img/user.png" alt="Bonnie image"/>
    <h5 class="mb-0.5 text-xl font-semibold tracking-tight text-heading">
        Nombre: {{nombre}} {{apellidos}}
    </h5><br>
    <h3 class="mb-0.5 text-xl font-semibold tracking-tight text-heading">
        Correo: {{email}}
    </h3><br>
    <h3 class="mb-0.5 text-xl font-semibold tracking-tight text-heading">
        Telefono: {{telefono}}
    </h3><br>
    <h3 class="mb-0.5 text-xl font-semibold tracking-tight text-heading">
        Cursos Inscritos:
    </h3>
    
        <ul>
        {% for alum in cursos %}
            <li>{{ alum.nombre }}</li>
        {% endfor %}
        </ul>
    <div class="flex mt-4 md:mt-6 gap-4">
        <a href="{{ url_for('alumnos.alumno') }}"
           class="px-6 py-2 bg-blue-600 text-white rounded-xl shadow-md
                  hover:bg-blue-700 hover:scale-105 transition duration-300">
            Regresar
        </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}