{% extends "layout.html" %} {% block container%} {% import "_macros.html" as macros%}

<div class="main-container">

    <!-- Título grande -->
    <div class="title-section" align="center">
        <font size="7">
            <h1>BIENVENIDO</h1>
        </font>
    </div>

    <!-- Espacio -->
    <br><br>

    <!-- Imagen centrada y grande -->
    <div class="image-section" align="center">
        <img src="{{ url_for('static', filename='img/bienvenido.png') }}" 
             alt="Imagen de Bienvenida"
             width="1300">
    </div>

</div>

{% endblock %}
